<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <form action="">
            <label for="">Nome:</label>
            <input type="text" placeholder="Digite o nome:" required>

            <label for="">Preço:</label>
            <input type="text" placeholder="Digite o preço:" required>

            <button type="submit">Cadastrar</button>
        </form>
        <a href="#">Voltar para a Lista de Produtos</a>
    </div>
</body>
</html>